body {
  background-color: yellow;
}

.main {
  text-align: center;
}

.main_img {
  float: left;
  height: ;
  width: ;
  border: 2px;
  border-style: dashed;
  padding: 10px;
  margin: 5px;
}

.container1 {
  margin: 20px;
  text-align: center;
}
.other_img{
  width: 30%;
  height: 200px;
}


.h3home {
  color: lightgrey;
  background-color: darkgrey;
}
.phome {
  background-color: darkgrey;
}
.projects {
  font-weight: bold;
  color: red;
}

.interests {
  background-color: green;
}
