body {
  background-color: yellow;
}

.main {
  text-align: center;
}

.main_img {
  float: left;
  border: 2px;
  border-style: dashed;
  padding: 10px;
  margin: 5px;
}

.about_img {
  border: 2px;
  border-style: dashed;
  padding: 10px;
  margin-left: 33%;
  margin-right: 33%;
}
.sidebar {
  float: left;
  width: 30%;
  margin-left: 2%;
}
.sidebar2 {
  float: left;
  width: 30%;
  margin-left: 3%;
}

.sidebar3 {
  float: left;
  width: 30%;
  margin-left: 3%;
}
.interest_head {
  text-align: center;

}
.container1 {
  margin: 20px;
  text-align: center;
}
.other_img{
  width: 450px;
  height: 300px;
}
.ds {
  width: 100%;
  border-radius: 10%;
}

.h3home {
  background-color: green;
}
.phome {
  background-color: darkgrey;
}
.projects {
  font-weight: bold;
  color: red;
}

.interests {
  background-color: green;
}
